<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Zone</li>
                    </ol>
                </nav>
            </div>
        </div>
<h6 class="mb-0 text-uppercase">Zone</h6>
<hr>
<div class="card border-top border-0 border-4 border-danger">
    <div class="card-body p-5">
        <div class="card-title d-flex align-items-center">
            <div><i class="fadeIn animated bx bx-bowling-ball me-1 font-22 text-danger"></i>
            </div>
            <div class="col-sm-6">
                <h5 class="mb-0 text-danger">Add/Update Ward</h5>
            </div>                   
            <!-- <div class="modal-footer  align-items-right">
                <button type="button" class="btn btn-primary" [disabled]="!formValue.valid">Submit</button>
                <button type="button" class="btn btn-danger">Cancel</button>
            </div> -->
            
            <div class="ms-auto">
                <div class="col-12">
               
            <button type="button"   class="btn btn-primary px-2" [disabled]="!formValue.valid"><i class="bx bxs-save"></i></button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger px-2"><i class="bx bx-x"></i></button>
        </div>
        </div>
        </div>
       
        <hr>
        <form class="row g-3" [formGroup]="formValue"> 
            <div class="col-md-6">
                <label class="form-label">Select Circle<span class="text-danger" >*</span></label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-bullseye"></i></span>
                <select #drop class="single-select form-control" formControlName="selectCircle">
                    <option value="" disabled selected>Select Circle</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Afghanistan">Afghanistan</option>
                    <option value="Aland Islands">Aland Islands</option>
                    <option value="Albania">Albania</option>
                    <option value="Algeria">Algeria</option>
                    <option value="American Samoa">American Samoa</option>
                    <option value="Andorra">Andorra</option>
                    <option value="Angola">Angola</option>
                    <option value="Anguilla">Anguilla</option>
                    <option value="Antarctica">Antarctica</option>
                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Sudan">Sudan</option>
                    <option value="Suriname">Suriname</option>
                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                    <option value="Swaziland">Swaziland</option>
                    <option value="Sweden">Sweden</option>
                    <option value="Switzerland">Switzerland</option>
                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                    <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                    <option value="Tajikistan">Tajikistan</option>
                    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Timor-leste">Timor-leste</option>
                    <option value="Togo">Togo</option>
                    <option value="Tokelau">Tokelau</option>
                    <option value="Tonga">Tonga</option>
                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                    <option value="Tunisia">Tunisia</option>
                    <option value="Turkey">Turkey</option>
                    <option value="Turkmenistan">Turkmenistan</option>
                    <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                    <option value="Tuvalu">Tuvalu</option>
                    <option value="Uganda">Uganda</option>
                    <option value="Ukraine">Ukraine</option>
                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="United States">United States</option>
                    <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                    <option value="Uruguay">Uruguay</option>
                    <option value="Uzbekistan">Uzbekistan</option>
                    <option value="Vanuatu">Vanuatu</option>
                    <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                    <option value="Viet Nam">Viet Nam</option>
                    <option value="Virgin Islands, British">Virgin Islands, British</option>
                    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                    <option value="Wallis and Futuna">Wallis and Futuna</option>
                    <option value="Western Sahara">Western Sahara</option>
                    <option value="Yemen">Yemen</option>
                    <option value="Zambia">Zambia</option>
                    <option value="Zimbabwe">Zimbabwe</option>
                </select>
                </div>
            </div>  
            <div class="col-md-6">
                <label for="zoneName" class="form-label">Zone Name<span class="text-danger" >*</span></label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-bullseye"></i></span>
                    <input type="text" class="form-control border-start-0" id="zoneName" placeholder="Enter Zone Name" formControlName="zoneName" autocomplete="off">
                </div>
                <p *ngIf="formValue.get('zoneName').hasError('required') && formValue.get('zoneName').touched" class="text-danger">Zone name is required*</p>
                <p *ngIf="formValue.get('zoneName').hasError('minlength') && formValue.get('zoneName').touched" class="text-danger">Zone name should contain atleast 5 characters*</p>
                <p *ngIf="formValue.get('zoneName').hasError('maxlength') && formValue.get('zoneName').touched" class="text-danger">Zone name should not contain more than 15 characters*</p>
            </div>
            <br/><br/><br/><br/>
            
            <div class="col-md-6">
                <label for="ZoneShortName" class="form-label">Zone Short Name<span class="text-danger" >*</span></label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-bullseye"></i></span>
                    <input type="text" class="form-control border-start-0" id="ZoneShortName" placeholder="Enter Zone Short Name" formControlName="zoneShortName" autocomplete="off">
                </div>
                <p *ngIf="formValue.get('zoneShortName').hasError('required') && formValue.get('zoneShortName').touched" class="text-danger">Zone short name is required*</p>
                <p *ngIf="formValue.get('zoneShortName').hasError('minlength') && formValue.get('zoneShortName').touched" class="text-danger">Zone short name should contain atleast 2 characters*</p>
                <p *ngIf="formValue.get('zoneShortName').hasError('maxlength') && formValue.get('zoneShortName').touched" class="text-danger">Zone short name should not contain more than 5 characters*</p>
            </div>
            <div class="col-md-6">
                <label for="isActiveCheckBox" class="form-label mt-3">Status<span class="text-danger" >*</span></label>
                    <div class="input-group">
                    <input class="form-check-input" type="checkbox" id="isActiveCheckBox" formControlName="status">
                    &nbsp;&nbsp;<label class="form-check-label" for="isActiveCheckBox" >is Active</label>
                </div>
            </div>
            <div class="col-md-6">
                <label for="remark" class="form-label">Remark</label>
                <div class="input-group"> <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-message-add"></i></span>
                    <input type="text" class="form-control border-start-0" id="remark" placeholder="Add Remark" formControlName="remark">
                </div>
            </div> 
           
        </form>
    </div>
</div>
</div>
</div>
