<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Customer Registration - Upload File </li>
                    </ol>
                </nav>
            </div>           
        </div>
<hr />

<div class="row">
    <div class="col-xl-9 mx-auto">
        <h6 class="mb-0 text-uppercase">Customer Registration - Upload File</h6>
        <hr/>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <img src="assets/images/icons/excel.png" class="rounded-circle p-1 border" width="90" height="90" alt="...">
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mt-0">Download excel format</h5>
                        <a href="assets/format/Customer.xlsx" class="btn btn-primary px-5 radius-30"><i class="bx bx-cloud-download mr-1"></i>Downloads</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                
                <form>
                    <input #upload id="image-uploadify" type="file" accept=".xlsx" multiple>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>

