<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Employee</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">Education Details</h6>
        <hr>
        <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="fadeIn animated bx bx-bowling-ball me-1 font-22 text-danger"></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0 text-danger">EDUCATION DETAILS </h5>
                    </div>                   
                    <!-- <div class="  align-items-right">
                        <button type="button" class="btn btn-primary" [disabled]="!formValue.valid">Submit</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div> -->
                    <div class="ms-auto">
                        <div class="col-12">
                       
                      
                    <button type="button" class="btn btn-primary px-2"><i class="bx bxs-save"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-danger px-2"><i class="bx bx-x"></i></button>
                </div>
                </div>
                </div>

                <hr>
                <form class="row g-3" >

                    <div class="col-md-6">
                        <label class="form-label">Qualification Type<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="QualificationType">
                                
                                <option selected="selected" value="1">Xth</option>
                                <option selected="selected" value="2">XIIth</option>
                                <option selected="selected" value="3">Graduation</option>
                                <option selected="selected" value="4">PostGraduation</option>
                                <option selected="selected" value="5">Diploma</option>
                               
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="Percentage" class="form-label">Percentage(%)<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <input type="text" class="form-control border-start-0" id="Percentage"
                                placeholder="Enter  Percentage" formControlName="Percentage" required
                                autocomplete="off">
                        </div>
                        <!-- <p *ngIf="formValue.  get('sectorShortName').hasError('required') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name is required*</p>
                        <p *ngIf="formValue.get('sectorShortName').hasError('minlength') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name should contain atleast 2 characters*</p>
                        <p *ngIf="formValue.get('sectorShortName').hasError('maxlength') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name should not contain more than 5 characters*</p> -->
                    </div>
                   
                 
                  
                    <div class="col-md-6">
                        <label class="form-label">Year Of Passing<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="YearOfPassing">
                                
                                <option selected="selected" value="1">2007</option>
                                <option selected="selected" value="2">2006</option>
                                <option selected="selected" value="3">2005</option>
                                <option selected="selected" value="4">2004</option>
                                <option selected="selected" value="5">2004</option>

                                <option selected="selected" value="6">2003</option>
                                <option selected="selected" value="7">2002</option>
                                <option selected="selected" value="8">2001</option>
                                <option selected="selected" value="9">2000</option>
                                <option selected="selected" value="10">1999</option>
                                <option selected="selected" value="11">1998</option>
                                <option selected="selected" value="12">1997</option>
                                <option selected="selected" value="13">1996</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">University Name/Board Name<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="UniversityName">
                                
                                <option selected="selected" value="1">UPTU</option>
                                <option selected="selected" value="2">GBTU</option>
                                <option selected="selected" value="3">CBSE</option>
                                <option selected="selected" value="4">DB</option>
                                <option selected="selected" value="5">UP BOARD</option>
                                <option selected="selected" value="6">OTHER UNIVERSITY</option>
                                <option selected="selected" value="7">OTHER BOARD</option>
                            </select>
                        </div>
                    </div>
               

                 

                </form>
       
            <form action="" class="p-3 row g-2">
                <label for="MarkSheet">MarkSheet Upload</label>
                <div class="col-md-6"><input type="file" id="MarkSheet" name="MarkSheet"><br><br></div>
                <div class="col-md-6"><button type="button" class="btn btn-primary p-2 border-radius: 24px;">Upload and Add</button></div>
                
                
              </form>
            </div>
        </div>
    </div>
</div>