<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Employee</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">Family Details</h6>
        <hr>
        <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="fadeIn animated bx bx-bowling-ball me-1 font-22 text-danger"></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0 text-danger">FAMILY DETAILS </h5>
                    </div>                   
                    <!-- <div class="  align-items-right">
                        <button type="button" class="btn btn-primary" [disabled]="!formValue.valid">Submit</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div> -->
                    <div class="ms-auto">
                        <div class="col-12">
                       
                      
                    <button type="button" class="btn btn-primary px-2"><i class="bx bxs-save"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-danger px-2"><i class="bx bx-x"></i></button>
                </div>
                </div>
                </div>

                <hr>
                <form class="row g-3" >

                    <div class="col-md-6">
                        <label for="sectorShortName" class="form-label">Name:<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <input type="text" class="form-control border-start-0" id="sectorShortName"
                                placeholder="Enter  Name" formControlName="sectorShortName" required
                                autocomplete="off">
                        </div>
                        <!-- <p *ngIf="formValue.  get('sectorShortName').hasError('required') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name is required*</p>
                        <p *ngIf="formValue.get('sectorShortName').hasError('minlength') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name should contain atleast 2 characters*</p>
                        <p *ngIf="formValue.get('sectorShortName').hasError('maxlength') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name should not contain more than 5 characters*</p> -->
                    </div>
                   
                    <div class="col-md-6">
                        <label class="form-label">Relationship<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                                
                                <option selected="selected" value="1">Father</option>
                                <option selected="selected" value="1">Brother</option>
                                <option selected="selected" value="1">Mother</option>
                                <option selected="selected" value="1">Sister</option>
                                <option selected="selected" value="1">Wife</option>
                                <option selected="selected" value="1">Son</option>
                                <option selected="selected" value="1">Daughter</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <label class="form-label">Country Name<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                                
                                <option selected="selected" value="1">India</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">State Name<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                                
                                <option selected="selected" value="1">UP</option>
                                <option selected="selected" value="1">MP</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">City Name<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                                
                                <option selected="selected" value="1">Mumbai</option>
                                <option selected="selected" value="1">Chennai</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <label for="sectorShortName" class="form-label">Date Of Birth<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                                    <input type="date" class="form-control border-start-0" placeholder="dd-mm-yyyy" value=""
                                    min="1997-01-01" max="2030-12-31" id="FromDate"
                                         formControlName="FromDate" required
                                        autocomplete="off">
                        </div>
                    
                    </div>
                  
                    <br /><br /><br /><br />

                    <div class="col-md-6">
                        <label class="form-label">Nationality<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                                
                                <option selected="selected" value="1">Indian</option>
                                <option selected="selected" value="1">USA</option>
                            </select>
                        </div>
                    </div>
                   
                    
                   
                  

                    <div class="col-md-6">
                        <label for="Martial Status" class="form-label">Gender</label>
                        <td><input id="Martial_Status" type="radio" name="Martial_Status" value="Male" checked="checked"> &nbsp;<label for="Martial_Status">Male</label></td> 
                       <td> &nbsp;<input id="Martial_Status" type="radio" name="Martial_Status" value="Female">&nbsp;<label for="Martial_Status">Female</label></td>
                    </div> 

                  



                    
              
                   



                    

                 

                </form>
               
            </div>
        </div>
    </div>
</div>