<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Employee</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">Family Details</h6>
        <hr>
        <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
              
                <form class="row g-3 needs-validation" novalidate id="family-detailform" >
                    <div class="card-title d-flex align-items-center">
                        <div><i class="fadeIn animated bx bx-bowling-ball me-1 font-22 text-danger"></i>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="mb-0 text-danger">FAMILY DETAILS </h5>
                        </div>                   
                      
                        <div class="ms-auto">
                            <div class="col-12">
                           
                          
                        <button type="submit" class="btn btn-primary px-2"><i class="bx bxs-save"></i></button>
                        &nbsp;
                        <button type="button" class="btn btn-danger px-2"><i class="bx bx-x"></i></button>
                    </div>
                    </div>
                    </div>
    
                    <hr>

                    <div class="col-md-6">
                        <label for="name" class="form-label"> Name[*]<span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-bullseye"></i>
                            </span>
                            <input type="text" pattern=".{1,180}"  class="form-control" id="name" name="name" aria-describedby="inputGroupPrepend"  required>
                            <div class="invalid-feedback"> Name should be a minimum of 1 characters and maximum of 180 characters</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
             
                    <div class="col-md-6">
                        <label for="Relationship" class="form-label">Relationship<span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-text"></i>
                            </span>
                            <select class="form-control single-select" #Relationship id="Relationship" name="Relationship" aria-describedby="inputGroupPrepend"  required>                                
                                <option value="" disabled selected>Select Relationship </option>  
                                <option  value="1">Father</option>
                                <option  value="2">Brother</option>
                                <option  value="3">Mother</option>
                                <option  value="4">Sister</option>
                                <option  value="5">Wife</option>
                                <option  value="6">Son</option>
                                <option  value="7">Daughter</option>
                            </select>                                        
                            <div class="invalid-feedback">Please Select Relationship !</div>
                            <div class="valid-feedback">Looks good!</div>
                            
                        </div>
                    </div>
                   
                  
                  
                    <div class="col-md-6">
                        <label for="CountryOfIssue" class="form-label">Country Name<span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-text"></i>
                            </span>
                            <select class="form-control single-select" #CountryOfIssue id="CountryOfIssue" name="CountryOfIssue" aria-describedby="inputGroupPrepend"  required>                                
                                <option value="" disabled selected>Select Country </option>  
                                <option value="1">INDIA</option>
                                <option value="2">USA</option>
                            </select>                                        
                            <div class="invalid-feedback">Please Select Country !</div>
                            <div class="valid-feedback">Looks good!</div>
                            
                        </div>
                    </div>

  
                    <div class="col-md-6">
                        <label for="StateOfIssue" class="form-label">State Name<span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-text"></i>
                            </span>
                            <select class="form-control single-select" #StateOfIssue id="StateOfIssue" name="StateOfIssue" aria-describedby="inputGroupPrepend"  required>                                
                                <option value="" disabled selected>Select State </option>  
                                <option value="1">UP</option>
                                <option value="2">MP</option>
                            </select>                                        
                            <div class="invalid-feedback">Please Select State !</div>
                            <div class="valid-feedback">Looks good!</div>
                            
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <label for="cityOFissue" class="form-label">City Name <span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-text"></i>
                            </span>
                            <select class="form-control single-select" #cityOFissue id="cityOFissue" name="cityOFissue" aria-describedby="inputGroupPrepend"  required>                                
                                <option value="" disabled selected>Select City </option>  
                                <option  value="1">Delhi</option>
                                <option value="2">Mumbai</option>
                            </select>                                        
                            <div class="invalid-feedback">Please Select City !</div>
                            <div class="valid-feedback">Looks good!</div>
                            
                        </div>
                    </div>







                  
                    <div class="col-md-6">
                        <label for="DateOfBirth" class="form-label">Date Of Birth[*]</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-calendar-week "></i>
                            </span>                                        
                            <input type="text"  class=" result form-control" id="DateOfBirth" name="DateOfBirth" aria-describedby="inputGroupPrepend" #DateOfBirth  required>
                            <div class="invalid-feedback">Please Select Date Of Birth</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                  
                    <br /><br /><br /><br />

                   
                   
                    <div class="col-md-6">
                        <label for="Nationality" class="form-label">Nationality <span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-text"></i>
                            </span>
                            <select class="form-control single-select" #Nationality id="Nationality" name="Nationality" aria-describedby="inputGroupPrepend"  required>                                
                                <option value="" disabled selected>Select Nationality </option>  
                                <option  value="1">Indian</option>
                                <option value="2">American</option>
                            </select>                                        
                            <div class="invalid-feedback">Please Select Nationality !</div>
                            <div class="valid-feedback">Looks good!</div>
                            
                        </div>
                    </div>
                    
                   
                  

                    <div class="col-md-6">
                        <label for="Gender" class="form-label">Gender</label>
                        <div class="input-group has-validation">
                           
                                <td><input id="Gender" type="radio" name="Gender" value="Male" checked="checked"> &nbsp;<label for="Gender">Male</label></td> 
                                &nbsp;<td> <input id="Gender" type="radio" name="Gender" value="Female">&nbsp;<label for="Gender">Female</label></td>
                            </div>
                    </div>
                  
                  



                    
              
                   



                    

                 

                </form>
               
            </div>
        </div>
    </div>
</div>