<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Employee</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">Payroll Details</h6>
        <hr>
        <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
                <div class="card-title d-flex align-items-center">
                    <div><i class="fadeIn animated bx bx-bowling-ball me-1 font-22 text-danger"></i>
                    </div>
                    <div class="col-sm-6">
                        <h5 class="mb-0 text-danger">PAYROLL DETAILS </h5>
                    </div>                   
                    <!-- <div class="  align-items-right">
                        <button type="button" class="btn btn-primary" [disabled]="!formValue.valid">Submit</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div> -->
                    <div class="ms-auto">
                        <div class="col-12">
                       
                      
                    <button type="button" class="btn btn-primary px-2"><i class="bx bxs-save"></i></button>
                    &nbsp;
                    <button type="button" class="btn btn-danger px-2"><i class="bx bx-x"></i></button>
                </div>
                </div>
                </div>

                <hr>
                <form class="row g-3" >
                   
                    <div class="col-md-6">
                        <label class="form-label">Employee Bank Name<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                                
                                <option selected="selected" value="1">IOC</option>
                                <option selected="selected" value="1">ICIC</option>
                            </select>
                        </div>
                    </div>
                  
                    <br /><br /><br /><br />

                    <div class="col-md-6">
                        <label for="sectorShortName" class="form-label">Account Number<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <input type="text" class="form-control border-start-0" id="sectorShortName"
                                placeholder="Enter Account Number" formControlName="sectorShortName" required
                                autocomplete="off">
                        </div>
                        <!-- <p *ngIf="formValue.  get('sectorShortName').hasError('required') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name is required*</p>
                        <p *ngIf="formValue.get('sectorShortName').hasError('minlength') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name should contain atleast 2 characters*</p>
                        <p *ngIf="formValue.get('sectorShortName').hasError('maxlength') && formValue.get('sectorShortName').touched"
                            class="text-danger">Sector short name should not contain more than 5 characters*</p> -->
                    </div>
                  
                   
                    
                   
                    <div class="col-md-6">
                        <label class="form-label">Mode of Payment<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <select #dropdown class="single-select form-control" formControlName="selectWard">
                               
                                <option value="1">HR</option>
		                        <option value="2">ADMIN</option>
		                        <option value="3">ACCOUNT</option>
		                         <option value="4">STORES AND PURCHASES</option>
		                        <option value="5">OPERATION</option>
		                        <option value="6">TECHNICAL AND WORKSHOP</option>
		                       <option value="7">SECURITIES</option>
		                      <option value="9">DRIVERS</option>
                            </select>
                        </div>
                    </div>

                 

                  


                    <div class="col-md-6">
                        <label for="sectorShortName" class="form-label">EPF Number<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <input type="text" class="form-control border-start-0" id="sectorShortName"
                                placeholder="Enter EPF Number" formControlName="sectorShortName" required
                                autocomplete="off">
                        </div>
                    
                    </div>
                   
                    <div class="col-md-6">
                        <label for="sectorShortName" class="form-label">ESIC Number<span class="text-danger" >*</span></label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i
                                    class="fadeIn animated bx bx-current-location"></i></span>
                            <input type="text" class="form-control border-start-0" id="sectorShortName"
                                placeholder="Enter ESIC Number" formControlName="sectorShortName" required
                                autocomplete="off">
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label for="remark" class="form-label">UAN Number</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-message-add"></i></span>
                            <input type="text" class="form-control border-start-0" id="remark" placeholder="Enter UAN Number" formControlName="remark">
                        </div>
                    </div> 
                    
                    
                    <div class="col-md-6">
                        <label for="remark" class="form-label">Fixed Salary</label>
                        <div class="input-group"> <span class="input-group-text bg-transparent"><i class="fadeIn animated bx bx-message-add"></i></span>
                            <input type="text" class="form-control border-start-0" id="remark" placeholder="Enter Fixed Salary" formControlName="remark">
                        </div>
                    </div> 
                    
                   



                    

                 

                </form>
            </div>
        </div>
    </div>
</div>