<div class="page-wrapper">
    <div class="page-content">
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Master</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Employee</li>
                    </ol>
                </nav>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">Experience Details</h6>
        <hr>
        <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
               
                <form class="row g-3 needs-validation" novalidate id="registrationform">

                    <div class="card-title d-flex align-items-center">
                        <div><i class="fadeIn animated bx bx-bowling-ball me-1 font-22 text-danger"></i>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="mb-0 text-danger">EXPERIENCE DETAILS </h5>
                        </div>                   
                        
                        <div class="ms-auto">
                            <div class="col-12">
                           
                          
                        <button type="submit" class="btn btn-primary px-2"><i class="bx bxs-save"></i></button>
                        &nbsp;
                        <button type="button" class="btn btn-danger px-2"><i class="bx bx-x"></i></button>
                    </div>
                    </div>
                    </div>
    
                    <hr>
                   
                    <div class="col-md-6">
                        <label for="FromDate" class="form-label">From Date</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-calendar-week "></i>
                            </span>                                        
                            <input type="text"  class=" result form-control" id="FromDate" name="FromDate" aria-describedby="inputGroupPrepend" #FromDate  required>
                            <div class="invalid-feedback">Please Select From Date</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="ToDate" class="form-label">To Date</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-calendar-week "></i>
                            </span>                                        
                            <input type="text"  class=" result form-control" id="ToDate" name="ToDate" aria-describedby="inputGroupPrepend" #ToDate  required>
                            <div class="invalid-feedback">Please Select To Date</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                 

              
                    <div class="col-md-6">
                        <label for="lastCEmpCode" class="form-label">Last Company Emp Code<span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-bullseye"></i>
                            </span>
                            <input type="text" pattern=".{1,25}"  class="form-control" id="lastCEmpCode" name="lastCEmpCode" aria-describedby="inputGroupPrepend"  required>
                            <div class="invalid-feedback">Last Company Emp Code should be a minimum of 1 characters and maximum of 25 characters</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>

                 
                            
                    <div class="col-md-6">
                        <label for="lastCompanyName" class="form-label">Last Company Name <span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-bullseye"></i>
                            </span>
                            <input type="text" pattern=".{1,180}"  class="form-control" id="lastCompanyName" name="lastCompanyName" aria-describedby="inputGroupPrepend"  required>
                            <div class="invalid-feedback">Last Company Name  should be a minimum of 1 characters and maximum of 180 characters</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                   

                    <div class="col-md-6">
                        <label for="CompanyContact" class="form-label">Company Contact Number <span class="text-danger" >*</span></label>
                        <div class="input-group has-validation">
                            <span class="input-group-text bg-transparent">
                                <i class="fadeIn animated bx bx-bullseye"></i>
                            </span>
                            <input type="text" pattern=".{10}"  class="form-control" id="CompanyContact" name="CompanyContact" aria-describedby="inputGroupPrepend"  required>
                            <div class="invalid-feedback">Company Contact Number  should be  10 digit</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                    </div>
                  
                

                 

                </form>
       
            </div>
        </div>
    </div>
</div>